<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <%= image_tag "sandy-millar-S5pFhDxUXyw-unsplash.jpg", class:"img-fluid" %>
    </div>
    <div class="col-lg-6 d-flex align-items-center">
      <h4>
        コレクションは見て嬉しい、集めて楽しい。<br>
        人によって集めるものは無限大で、<br>
        同じものでもその人だけの思い出があります。
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 d-flex align-items-center">
      <h4>
        あなたのコレクションを<br>
        思い出と共に投稿してみましょう！<br>
        <br>
        また、他の人のコレクションを見て<br>
        コメントやいいね、フォローしてみましょう！
      </h4>
    </div>
    <div class="col-lg-6">
      <%= image_tag "model-car-470644_1920.jpg", class:"img-fluid" %>
    </div>
</div>